@import 'components/variables';
nav {
    padding: 0 10px;
    h1 {
        margin: 0;
        line-height: inherit;
        font-size: 2.2rem;
        @media #{$small-and-down} {
            font-size: 1.5rem;
        }
    }
    li {
        a.active {
          background-color: rgba(0, 0, 0, 0.1);
          @media #{$small-and-down} {
              height: 56px;;
          }
        }
    }
    .navigation {
        @media #{$medium-and-down} {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: $primary-color;
            display: flex;
            justify-content: space-evenly;
        }
        .tab {
            @media #{$small-and-down} {
                padding: 0 25px;
            }
            &.disabled {
                opacity: 0.3;
                pointer-events: none;
            }
        }
    }
    .fa {
        display: none;
        @media #{$medium-and-down} {
            display: inline-block;
            line-height: inherit;
        }
        @media #{$small-and-down} {
            margin-right: 0;
        }
    }
    .profile {
        .fa {
            display: inline-block;
        }
    }
    .brand-logo {
        @media #{$small-and-down} {
            font-size: 1.4rem;
        }
    }
    .newpost {
        @media #{$small-and-down} {
            margin-right: -15px;
        }
        a {
            color: #000;
            border: 1px solid #000;
            @media #{$small-and-down} {
                box-shadow: none;
            }
            &.android {
                @media #{$small-and-down} {
                    position: fixed;
                    right: 5px;
                    bottom: 70px;
                    width: 59px;
                    height: 56px;
                    border-radius: 50px;
                    .fa {
                        line-height: 56px;
                    }
                }
            }
        }
    }
    span {
        @media #{$small-and-down} {
            display: none;
        }
    }
    span.badge {
        min-width: 21px;
        border-radius: 12px;
    }
}
.connection-message {
    opacity: 0;
    position: absolute;
    top: 56px;
    z-index: 1;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: $header-title-color;
    -webkit-transition: opacity 1s; /* Safari */
    transition: opacity 1s;
    @media #{$medium-and-up} {
        top : 64px;
    }
    &.offline {
        background-color: $secondary-color;
    }
    &.show {
        opacity: 1 !important;
    }
}